<div class="layout layout--col layout--top w--full h--full">
  <div class="flex w--full">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--large" id="{{ parcel_delivery_count_id }}">{{ deliveries | size }}</span>
        <span class="label" id="{{ parcel_filter_label_id }}">Deliveries</span>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--large" id="{{ parcel_out_for_delivery_count_id }}">0</span>
        <span class="label">Out for Delivery</span>
      </div>
    </div>
  </div>

  <div class="border--h-3 w--full my--2"></div>

  <div class="columns">
    <div
      class="column"
      id="{{ parcel_deliveries_container_id }}"
      data-list-limit="true"
      data-list-hidden-count="false"
      data-list-max-columns="3"
      data-list-max-height="270"
    >
      {% if error %}
        <div class="flex flex--center-x">
          <span class="label">{{ error }}</span>
        </div>
      {% elsif deliveries.size == 0 %}
        <div class="flex flex--center-x">
          <span class="label">No deliveries to show</span>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div id="{{ parcel_title_bar_id }}"></div>

<script>
  (function() {
    const parcelInstance = window.__parcelInstances && window.__parcelInstances[{{ parcel_instance_key | json }}];
    if (!parcelInstance) return;
    parcelInstance.initializeTitleBar({
      targetId: {{ parcel_title_bar_id | json }}
    });
    parcelInstance.initializeTemplate({
      containerId: {{ parcel_deliveries_container_id | json }},
      showSummary: true,
      outForDeliveryId: {{ parcel_out_for_delivery_count_id | json }},
      filterLabelId: {{ parcel_filter_label_id | json }}
    });
  })();
</script>
