<div class="layout layout--col h--full">
  <div class="grid grid--cols-1">
    <div class="item">
      <div class="content">
        <span class="value value--tnums" id="{{ current_value_id }}">-</span>
        <span class="label">CURRENT</span>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <span class="value value--tnums" id="{{ delta_value_id }}">-</span>
        <span class="label">CHANGE</span>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="content">
      <span class="label" id="{{ latest_date_id }}">-</span>
      <span class="label">LAST MEASUREMENT</span>
    </div>
  </div>

  <div id="{{ chart_element_id }}" class="w--full h--full"></div>
</div>

<div class="title_bar">
  <span class="title" id="{{ chart_title_id }}">{{ profileName | capitalize }}'s Trend</span>
</div>

<script type="text/javascript">
  (function() {
    const healthChartInstance = window.__healthChartInstances && window.__healthChartInstances[{{ health_instance_key | json }}];
    if (!healthChartInstance) return;

    healthChartInstance.initialize({
      chartElementId: {{ chart_element_id | json }},
      currentValueId: {{ current_value_id | json }},
      deltaValueId: {{ delta_value_id | json }},
      latestDateId: {{ latest_date_id | json }},
      chartTitleId: {{ chart_title_id | json }},
      axisFontSize: '12px',
      lineWidth: 2
    });
  })();
</script>
